

<!DOCTYPE html>
<html>
  <head>
    <title>Home |Shreya Madiga</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="Z1GpgIlR_Cqx_nCzDcZTVogirJtAs6qAgxgyjWeiE_Nn66ZRQZsQ1JA7trCR6_pcjSBXBCMMt-53mqDE8G7UjQ" />
    

    <link rel="stylesheet" media="all" href="/assets/application-1383556b744a80e86c9f695c150ee65ed94aa838456c44531bb1c6b271ec63b4.css" data-turbolinks-track="reload" />
    <script src="/assets/application-82f897152cd79ef7a08d4359593885243ea56eeee270eab6dce71b86a2e873fc.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Shreya Madiga</a>
    <div class="navbar-nav ml-auto">
    <form class="form-inline" method="get" action="/projects/new"><input class="btn btn-outline-primary" type="submit" value="New Project" /></form>
    <div style="padding-left: 10px;">
    <form class="form-inline" method="get" action="/admins/edit"><input class="btn btn-outline-primary" type="submit" value="Edit Profile" /></form>
    </div>
    <div style="padding-left: 10px;">
    <form class="form-inline" method="post" action="/admins/sign_out"><input type="hidden" name="_method" value="delete" /><input class="btn btn-outline-success" type="submit" value="Logout" /><input type="hidden" name="authenticity_token" value="DvsciBGxOl2i2-aSZdflRvI8sUneXGScHYuhnCGP5-3KN2F3MN3QnuCg8FJ5gthjVsvqm1jdPyNfRVAezfeA9Q" /></form>
    </div>
    </div>
  </nav>

<p id="notice"><%= notice %></p>

<h1>Projects</h1>


<div class="container">
<!-- Example row of columns -->
<div class="row mb-5">
  <div class="col-md-4">
    <h2>arduino-device</h2>
    <p>created a device to focus on thee women security with the help of arduino</p>
    <form class="button_to" method="get" action="/projects/8"><input class="btn btn-secondary" type="submit" value="See More »" /></form>
  </div>
  <div class="col-md-4">
  <h2>ruby and rails</h2>
    <p>created a website to show the number of projects that i have done.</p>
    <form class="button_to" method="get" action="/projects/9"><input class="btn btn-secondary" type="submit" value="See More »" /></form>
  </div>
  <div class="col-md-4">
  <h2>brain tumor classification</h2>
    <p>Created a project using the matlab which potentially aims at scaning the reports and finding if the tumor is present or not</p>
    <form class="button_to" method="get" action="/projects/10"><input class="btn btn-secondary" type="submit" value="See More »" /></form>
    </div>
  <div class="col-md-4">
  <h2>Building CI/CD data pipelines</h2>
      <p>	Built CI/CD data pipeline for Video on Demand Feature for STB</p>
      <form class="button_to" method="get" action="/projects/11"><input class="btn btn-secondary" type="submit" value="See More »" /></form>
      </div>
      <div class="col-md-4">
      <h2>Business classification model for X airlines</h2>
          <p>	Developed business model for a mock airline company</p>
          <form class="button_to" method="get" action="/projects/12"><input class="btn btn-secondary" type="submit" value="See More »" /></form>
          </div>
          <div class="col-md-4">
          


    </div>


