

<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<a class="nav-link" href="/admins/sign_in">Sign In</a>
<div class="container">
<!-- Example row of columns -->
<div class="row mb-5">
  <div class="col-md-4">
    <h2>arduino-device</h2>
    <p>created a device to focus on thee women security with the help of arduino</p>
    <form class="button_to" method="get" action="/projects/8"><input class="btn btn-secondary" type="submit" value="See More »" /></form>
    <a href="/admins/sign_in">Edit</a> | 
    <a href="/admins/sign_in">Delete</a>

    </div>
  <div class="col-md-4">
  <h2>ruby and rails</h2>
    <p>created a website to show the number of projects that i have done.</p>
    <form class="button_to" method="get" action="/projects/9"><input class="btn btn-secondary" type="submit" value="See More »" /></form>
  </div>
  <div class="col-md-4">
  <h2>brain tumor classification</h2>
    <p>Created a project using the matlab which potentially aims at scaning the reports and finding if the tumor is present or not</p>
    <form class="button_to" method="get" action="/projects/10"><input class="btn btn-secondary" type="submit" value="See More »" /></form>
    </div>
  <div class="col-md-4">
  <h2>Building CI/CD data pipelines</h2>
      <p>	Built CI/CD data pipeline for Video on Demand Feature for STB</p>
      <form class="button_to" method="get" action="/projects/11"><input class="btn btn-secondary" type="submit" value="See More »" /></form>
      </div>
      <div class="col-md-4">
      <h2>Business classification model for X airlines</h2>
          <p>	Developed business model for a mock airline company</p>
          <form class="button_to" method="get" action="/projects/12"><input class="btn btn-secondary" type="submit" value="See More »" /></form>
          </div>
          <div class="col-md-4">
          


    </div>


