<p id="notice"><%= notice %></p>

<h1>Projects</h1>


<div class="container">
<!-- Example row of columns -->

  <div class="col-md-4">
  <h2>arduino-device</h2>
    <p>created a device to focus on thee women security with the help of arduino</p>
    <form class="button_to" method="get" action="/projects/3"><input class="btn btn-secondary" type="submit" value="See More »" /></form>
    <a href="/admins/sign_in">Edit</a> | 
    <a href="/admins/sign_in">Delete</a>
    </div>
  



</div> <!-- /container -->
<br>
  </main>
  <hr>
  </div>
    <footer class="container text-center">
    <p>shreya madiga | 636-735-1767| shreyamadiga@gmail.com</p>
  </footer>
  </body>
</html>



